#nav {text-align:right; padding-top: 8px; padding-bottom: 10px;}
#nav ul {list-style-type: none;}
#nav ul li {display: inline-block; padding: 3px 10px}
#nav ul a {font-size: 18px; color: #000000; font-family:Verdana, Geneva, Tahoma, sans-serif;
           text-decoration: none; padding: 4px 8px}
#nav ul a:hover {color: #ce1b44; background-color: background-color #fff; border: solid; border-radius: 5px;}


.header {display:flex; background-color: aliceblue; justify-content: space-between;}
#logo{width: 60px; height: 80px}

.main-background {
    background-image: url(images/background.jpg);
    background-position: center;
    background-size: cover; 
    height: 500px;
    position: relative;
}

.background-container{
    position:absolute;
    top: 10%;
    left: 30%;
    text-align: center;
}

.main-text{
    position: absolute;
    max-width: 700px;
    text-align: center;
    width: 90%;
    top: 40px;
    left: 50%;
    transform: translateX(-50%); 
    color: aliceblue;
    font-size: 30px;
}

.button{
    display: inline-block;
    padding: 5px 30px;
    background-color: #fff;
    color:#991a1a;
    text-decoration: none;
    border-radius: 5px;
    border: solid;
    font-size: 25px;
    top: 150px;
    left: 50px;
    right: 50px;
    margin: 10px 50px 10px 50px;
    text-align: center;
}

a.button:hover{background-color: rgba(0,0,0,0); color: aliceblue:}

.subtext1{
    display: inline-block; 
    text-align: left;
    color: aliceblue;
    margin-bottom: 30px;
}

#reviews{text-align: center; padding-top: 60px}

#reviews .review{
    vertical-align: top;
    height: 250px;
    width: 300px; 
    margin-right: 30px;
    margin-bottom: 20px;
    display: inline-block; 
    text-align: center; 
    background-color: aliceblue;
    padding: 15px; 
}

#reviews .review:last-child{margin-right: 0}

@media(max-width: 640){}
    .main-background{
        min-height: 700px; 
    }
