.nav {text-align:right; padding-top: 8px; padding-bottom: 10px;}
.nav ul {list-style-type: none;}
.nav ul li {display: inline-block; padding: 3px 10px}
.nav ul a {font-size: 18px; color: #000000; font-family:Verdana, Geneva, Tahoma, sans-serif;
           text-decoration: none; padding: 4px 8px}
.nav ul a:hover {color: #ce1b44; background-color: background-color #fff; border: solid; border-radius: 5px;}

#mobile-menu{display:none}
.header {display:flex; background-color: aliceblue; justify-content: space-between; min-height: 50px; position:relative}
#logo{width: 120px; height: 100px}

.main-background {
    background-image: url(images/background.jpg);
    background-position: center;
    background-size: cover; 
    height: 500px;
    position: relative;
}

.background-container{
    position:absolute;
    top: 10%;
    left: 30%;
    text-align: center;
}

.main-text{
    position: absolute;
    max-width: 700px;
    text-align: center;
    width: 90%;
    top: 40px;
    left: 50%;
    transform: translateX(-50%); 
    color: aliceblue;
    font-size: 30px;
}

.button{
    display: inline-block;
    padding: 5px 30px;
    background-color: #fff;
    color:#991a1a;
    text-decoration: none;
    border-radius: 5px;
    border: solid;
    font-size: 25px;
    top: 150px;
    left: 50px;
    right: 50px;
    margin: 10px 50px 10px 50px;
    text-align: center;
}

a.button:hover{background-color: rgba(0,0,0,0); color: aliceblue:}

.subtext1{
    position: absolute;
    bottom:30px;
    left:50px;
    right: 50px;
    text-align: left;
    color: aliceblue;
    margin-bottom: 30px;
}

#reviews{text-align: center; padding-top: 60px}

#reviews .review{
    vertical-align: top;
    height: 250px;
    width: 300px; 
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: inline-block; 
    text-align: center; 
    background-color: aliceblue;
    padding: 15px; 
}

#reviews .review:last-child{margin-right: 0}


.hamburger-icon span{
    height: 2px;
    width: 25px;
    background-color:#991a1a;
    display:block;
    margin-bottom:3px;
}
.hamburger-icon{
    margin: 10px auto;
}

footer {
    border-top: 2px solid #ce1b44;
    padding-top: 20px;
    margin-top:40px; 
}


@media(max-width: 640px){
    .main-background{ min-height: 700px;}
    #reviews .review:last-child{margin-right: 30px;}

}

@media(max-width: 800px){
    #mobile-menu {display:block; position: absolute; right:30px;top:20px; z-index: 1000; cursor:pointer}
    .nav {display: none}
    .mobile.nav {display:none; position:absolute; top: 0px; right: 10px; width: 150px}
    .mobile.nav ul {background-color:  rgb(103, 178, 224); padding: 15px 0}
    .mobile.nav ul li{display: block; margin: 0; padding: 0 0 0 20px}
    .mobile.nav ul li a{display: block}
} 